@font-face {
  font-family: 'GothaProMed';
  src: url("../fonts/gothamPro/GothaProMed.otf") format("opentype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'GothaProBol';
  src: url("../fonts/gothamPro/GothaProBol.otf") format("opentype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "LoraRegular";
  src: url("../fonts/lora/LoraRegular.eot");
  src: url("../fonts/lora/LoraRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/lora/LoraRegular.woff") format("woff"), url("../fonts/lora/LoraRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: "LoraItalic";
  src: url("../fonts/lora/LoraItalic.eot");
  src: url("../fonts/lora/LoraItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/lora/LoraItalic.woff") format("woff"), url("../fonts/lora/LoraItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }
body {
  font-family: GothaProMed, sans-serif; }

#main {
  background: url("../img/main_bg2.png") no-repeat;
  background-size: cover;
  padding-top: 4em; }
  #main ._main_text {
    font-size: 2.5em;
    text-transform: uppercase; }
  #main ._tabs {
    width: 100%;
    border-top: 1px solid #dee2e6; }
    #main ._tabs ul {
      padding: 0;
      list-style-type: none;
      text-align: center;
      margin: 0;
      width: 100%; }
    #main ._tabs li {
      display: inline-block;
      padding: 15px;
      margin-left: -5px;
      width: 25%; }
    #main ._tabs a {
      text-decoration: none;
      color: #000;
      text-transform: uppercase;
      padding-top: 17px; }
    #main ._tabs a:hover {
      font-family: GothaProBol, sans-serif;
      color: #f0693c;
      border-top: 2px solid #f0693c; }

#slider {
  position: relative;
  background-color: #e6e7ed;
  padding: 4em 0; }
  #slider .owl-nav {
    display: none; }
    #slider .owl-nav .owl-prev {
      background-color: #fff;
      color: #f0693c;
      border-radius: 25px;
      padding: 10px 15px; }
    #slider .owl-nav .owl-next {
      background-color: #fff;
      color: #f0693c;
      border-radius: 25px;
      padding: 10px 15px; }

#welcome-text {
  padding: 4em 0; }
  #welcome-text ._card {
    padding: 4em; }
    #welcome-text ._card img {
      max-width: 100%;
      height: auto;
      vertical-align: middle; }
    #welcome-text ._card ._status_pos {
      color: #818181;
      font-family: LoraItalic, sans-serif; }
    #welcome-text ._card ._status_name {
      font-family: GothaProBol, sans-serif;
      font-size: 1.5em;
      text-transform: uppercase; }
    #welcome-text ._card ._card_text p {
      font-family: LoraItalic, sans-serif; }

#about ._card {
  background-color: #e6e7ed;
  padding: 4em; }
  #about ._card ._about_title {
    font-size: 1.8em;
    text-transform: uppercase; }
  #about ._card ._about_text {
    font-family: LoraItalic, sans-serif;
    text-align: center; }

#submissions {
  padding: 4em 0; }
  #submissions ._sub_bg {
    background: url("../img/sub_bg.jpg") no-repeat;
    padding: 4em;
    width: 100%;
    text-align: center; }
    #submissions ._sub_bg a {
      font-family: GothaProBol, sans-serif;
      background-color: #fff;
      text-align: center;
      text-transform: uppercase;
      color: #000;
      text-decoration: none;
      padding: 1em 3em; }
      #submissions ._sub_bg a i {
        color: #f0693c;
        vertical-align: middle; }

#partners {
  padding-bottom: 4em; }
  #partners ._partners_title {
    font-size: 1.8em;
    text-transform: uppercase; }
  #partners .owl-carousel img {
    width: initial;
    margin: auto; }
  #partners .owl-nav {
    display: block;
    margin-top: 0; }
    #partners .owl-nav .owl-prev {
      position: absolute;
      top: 30%;
      left: -6%;
      background-color: transparent;
      color: #f0693c;
      border: 1px solid #f0693c;
      border-radius: 25px;
      padding: 10px 15px; }
    #partners .owl-nav .owl-next {
      position: absolute;
      top: 30%;
      right: -6%;
      background-color: transparent;
      color: #f0693c;
      border: 1px solid #f0693c;
      border-radius: 25px;
      padding: 10px 15px; }

#footer {
  padding: 4em 0;
  border-top: 1px solid #dee2e6;
  border-bottom: 1px solid #dee2e6;
  margin-bottom: 4em; }
  #footer .contacts_title {
    font-family: GothaProBol, sans-serif;
    text-transform: uppercase; }
  #footer .contacts_address, #footer .contacts_tel {
    font-family: LoraRegular, sans-serif; }
  #footer .contacts_social a {
    display: inline-block;
    background-color: #dbdbdb;
    padding: 10px 14px;
    margin-right: 5px;
    margin-bottom: 5px;
    color: #fff;
    border-radius: 25px; }
  #footer .contacts_social a:hover {
    background-color: #f0693c; }
  #footer .contacts_tel a {
    text-decoration: none;
    color: #000; }

/*# sourceMappingURL=styles.css.map */
