@font-face {
  font-family: 'GothaProMed';
  src: url("../fonts/gothamPro/GothaProMed.otf") format("opentype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'GothaProBol';
  src: url("../fonts/gothamPro/GothaProBol.otf") format("opentype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "LoraRegular";
  src: url("../fonts/lora/LoraRegular.eot");
  src: url("../fonts/lora/LoraRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/lora/LoraRegular.woff") format("woff"), url("../fonts/lora/LoraRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: "LoraItalic";
  src: url("../fonts/lora/LoraItalic.eot");
  src: url("../fonts/lora/LoraItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/lora/LoraItalic.woff") format("woff"), url("../fonts/lora/LoraItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }
body {
  font-family: GothaProMed, sans-serif; }

.main_popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100; }
  .main_popup img {
    width: 100%;
    max-width: 100vw;
    max-height: 100vh; }
  .main_popup ._timer {
    position: absolute;
    z-index: 10;
    bottom: 14%;
    left: 34%; }

#header {
  background-color: #000;
  display: table;
  height: 64px;
  width: 100%; }
  #header ._d_table {
    display: table;
    height: 64px; }
  #header ._d_t_cell {
    display: table-cell;
    vertical-align: middle; }
  #header ._header_menu {
    position: relative; }
    #header ._header_menu a#dropdownMenuLink {
      padding: 27px 20px 20px 19px;
      border-right: 1px solid #383838; }
    #header ._header_menu ._dropdown_menu {
      display: none;
      position: absolute;
      top: 64px;
      left: 0;
      z-index: 100;
      min-width: 260px;
      background-color: #7e1420;
      border-radius: 0; }
      #header ._header_menu ._dropdown_menu ._additional ul {
        display: table;
        width: 100%;
        height: 55px;
        list-style-type: none;
        margin-bottom: 0;
        padding-left: 0;
        border-bottom: 1px solid #cb656d; }
        #header ._header_menu ._dropdown_menu ._additional ul li {
          display: table-cell;
          padding: 15px 5px; }
          #header ._header_menu ._dropdown_menu ._additional ul li a {
            font-size: 13px; }
      #header ._header_menu ._dropdown_menu ._dropdown_item {
        padding: 0.75rem 1.5rem;
        display: block;
        width: 100%;
        clear: both;
        font-weight: 400;
        text-align: inherit;
        white-space: nowrap;
        border: 0;
        cursor: pointer; }
        #header ._header_menu ._dropdown_menu ._dropdown_item i {
          float: right; }
      #header ._header_menu ._dropdown_menu ._dropdown_item.activated i {
        transform: rotateX(180deg); }
      #header ._header_menu ._dropdown_menu ._dropdown_inner {
        display: none; }
        #header ._header_menu ._dropdown_menu ._dropdown_inner ul {
          list-style-type: none;
          margin-bottom: 0;
          padding-left: 0; }
          #header ._header_menu ._dropdown_menu ._dropdown_inner ul li a {
            display: inline-block;
            font-family: LoraItalic, sans-serif;
            color: #cb656d;
            text-transform: capitalize;
            width: 100%;
            padding: 10px 10px 10px 24px; }
          #header ._header_menu ._dropdown_menu ._dropdown_inner ul hr {
            margin-left: 24px;
            background: #cb656d; }
      #header ._header_menu ._dropdown_menu ._dropdown_inner.visible {
        display: block; }
    #header ._header_menu ._dropdown_menu._show {
      display: block; }
  #header ._header_menu._show a#dropdownMenuLink {
    background-color: #7e1420;
    border-right: none; }
  #header ul._d_t_cell {
    list-style-type: none;
    margin: 0;
    padding-left: 20px; }
    #header ul._d_t_cell li {
      display: inline-block;
      margin-right: 15px;
      padding: 20px; }
  #header a {
    font-size: 15px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase; }
  #header ._menu_lang {
    padding-left: 0; }
    #header ._menu_lang li {
      margin-right: 0;
      padding-right: 40px;
      border-right: 1px solid #383838; }
      #header ._menu_lang li a {
        font-size: 13px; }
  #header .dropdown button {
    background-color: transparent;
    font-size: 13px;
    text-transform: uppercase;
    color: #fff; }
  #header .dropdown .dropdown-menu {
    min-width: inherit; }
    #header .dropdown .dropdown-menu a {
      color: #000;
      font-size: 13px;
      padding: .25rem 1rem; }

#main {
  background: url("../img/main_bg2.png") no-repeat;
  background-size: cover;
  padding-top: 4em; }
  #main ._main_text {
    font-size: 2.5em;
    text-transform: uppercase;
    line-height: 1.2; }
  #main ._tabs {
    width: 100%;
    border-top: 1px solid #dee2e6; }
    #main ._tabs ul {
      padding: 0;
      list-style-type: none;
      text-align: center;
      margin: 0;
      width: 100%; }
    #main ._tabs li {
      display: inline-block;
      padding: 15px;
      margin-left: -5px;
      width: 25%; }
    #main ._tabs a {
      text-decoration: none;
      color: #000;
      text-transform: uppercase;
      padding-top: 17px; }
    #main ._tabs a:hover {
      font-family: GothaProBol, sans-serif;
      color: #f0693c;
      border-top: 2px solid #f0693c; }

#slider {
  position: relative;
  background-color: #e6e7ed;
  padding: 4em 0; }
  #slider .owl-nav {
    display: none; }
    #slider .owl-nav .owl-prev {
      background-color: #fff;
      color: #f0693c;
      border-radius: 25px;
      padding: 10px 15px; }
    #slider .owl-nav .owl-next {
      background-color: #fff;
      color: #f0693c;
      border-radius: 25px;
      padding: 10px 15px; }

#welcome-text {
  padding: 4em 0; }
  #welcome-text ._card {
    padding: 4em; }
    #welcome-text ._card img {
      max-width: 100%;
      height: auto;
      vertical-align: middle; }
    #welcome-text ._card ._status_pos {
      color: #818181;
      font-family: LoraItalic, sans-serif; }
    #welcome-text ._card ._status_name {
      font-family: GothaProBol, sans-serif;
      font-size: 1.5em;
      text-transform: uppercase; }
    #welcome-text ._card ._card_text p {
      font-family: LoraItalic, sans-serif; }

#about ._card {
  background-color: #e6e7ed;
  padding: 4em; }
  #about ._card ._about_title {
    font-size: 1.8em;
    text-transform: uppercase; }
  #about ._card ._about_text {
    font-family: LoraItalic, sans-serif;
    text-align: center; }

#submissions {
  padding: 4em 0; }
  #submissions ._sub_bg {
    background: url("../img/sub_bg.jpg") no-repeat;
    padding: 4em;
    width: 100%;
    text-align: center; }
    #submissions ._sub_bg a {
      font-family: GothaProBol, sans-serif;
      background-color: #fff;
      text-align: center;
      text-transform: uppercase;
      color: #000;
      text-decoration: none;
      padding: 1em 3em;
      white-space: inherit; }
      #submissions ._sub_bg a i {
        color: #f0693c;
        vertical-align: middle; }

#partners {
  padding-bottom: 4em; }
  #partners ._partners_title {
    font-size: 1.8em;
    text-transform: uppercase; }
  #partners .owl-carousel img {
    width: initial;
    margin: auto; }
  #partners .owl-nav {
    display: block;
    margin-top: 0; }
    #partners .owl-nav .owl-prev {
      position: absolute;
      top: 30%;
      left: -6%;
      background-color: transparent;
      color: #f0693c;
      border: 1px solid #f0693c;
      border-radius: 25px;
      padding: 10px 15px; }
    #partners .owl-nav .owl-next {
      position: absolute;
      top: 30%;
      right: -6%;
      background-color: transparent;
      color: #f0693c;
      border: 1px solid #f0693c;
      border-radius: 25px;
      padding: 10px 15px; }

#footer {
  padding: 4em 0;
  border-top: 1px solid #dee2e6;
  border-bottom: 1px solid #dee2e6;
  margin-bottom: 4em; }
  #footer .contacts_title {
    font-family: GothaProBol, sans-serif;
    text-transform: uppercase; }
  #footer .contacts_address, #footer .contacts_tel {
    font-family: LoraRegular, sans-serif; }
  #footer .contacts_social a {
    display: inline-block;
    background-color: #dbdbdb;
    padding: 10px 14px;
    margin-right: 5px;
    margin-bottom: 5px;
    color: #fff;
    border-radius: 25px; }
  #footer .contacts_social a:hover {
    background-color: #f0693c; }
  #footer .contacts_tel a {
    text-decoration: none;
    color: #000; }

/*# sourceMappingURL=styles.css.map */
