@font-face{

  font-family: 'GothaProMed';
  src: url('../fonts/gothamPro/GothaProMed.otf') format('opentype');
  font-weight: normal;
  font-style: normal;

}
@font-face{

  font-family: 'GothaProBol';
  src: url('../fonts/gothamPro/GothaProBol.otf') format('opentype');
  font-weight: normal;
  font-style: normal;

}

$orange: #f0693c;
body { font-family: GothaProMed, sans-serif;}
#main {
  background: url("../img/main_bg2.png") no-repeat;
  background-size: cover;
  padding-top: 4em;

  ._main_text {
    font-size: 2.5em;
    text-transform: uppercase;
  }
  ._tabs {
    width: 100%;

    ul {
      padding: 0;
      list-style-type: none;
      text-align: center;
      margin: 0;
      width: 100%;
    }
    li {
      display: inline-block;
      padding: 15px;
      margin-left: -4px;
      width: 25%;
    }
    a {
      text-decoration: none;
      color: #000;
      text-transform: uppercase ;
      padding-top: 17px;
    }
    a:hover {
      font-family: GothaProBol, sans-serif;
      color: $orange;
      border-top: 2px solid $orange;
    }
  }

}
#main-carousel {
  position: relative;
  background-color: #e6e7ed;
  padding: 4em 0;

  .owl-nav {
    display: block;
    margin-top: 0;

    .owl-prev { position: absolute; top: 45%; left: 10%; background-color: #fff; color: $orange; border-radius: 25px; padding: 10px 15px}
    .owl-next { position: absolute; top: 45%; right: 10%; background-color: #fff; color: $orange; border-radius: 25px; padding: 10px 15px}
  }
}

#welcome-text {
  padding: 4em 0;

  ._card {
    padding: 4em;

    img {
      max-width: 100%;
      height: auto;
      vertical-align: middle;
    }
    ._status_pos { color: #818181; font-style: italic}
    ._status_name { font-size: 2em}
    ._card_text p { font-style: italic}
  }
}

#about {
  ._card {
    background-color: #e6e7ed;
    padding: 4em;

    ._card_title { font-size: 2em; text-transform: uppercase}
    ._card_text { font-style: italic; text-align: center}
  }
}

#submissions {
  padding: 4em 0;

  .sub_bg {
    background: url("../img/sub_bg.jpg") no-repeat;
    padding: 4em;
    width: 100%;
    text-align: center;

    a {
      background-color: #fff;
      text-align: center;
      text-transform: uppercase;
      color: #000;
      text-decoration: none;
      padding: 1em 3em;

      i {
        color: $orange;
        vertical-align: middle;
      }
    }
  }
}
