@font-face{

  font-family: 'GothaProMed';
  src: url('../fonts/gothamPro/GothaProMed.otf') format('opentype');
  font-weight: normal;
  font-style: normal;

}
@font-face{

  font-family: 'GothaProBol';
  src: url('../fonts/gothamPro/GothaProBol.otf') format('opentype');
  font-weight: normal;
  font-style: normal;

}
@font-face {
  font-family: "LoraRegular";
  src: url("../fonts/lora/LoraRegular.eot");
  src: url("../fonts/lora/LoraRegular.eot?#iefix")format("embedded-opentype"),
  url("../fonts/lora/LoraRegular.woff") format("woff"),
  url("../fonts/lora/LoraRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "LoraItalic";
  src: url("../fonts/lora/LoraItalic.eot");
  src: url("../fonts/lora/LoraItalic.eot?#iefix")format("embedded-opentype"),
  url("../fonts/lora/LoraItalic.woff") format("woff"),
  url("../fonts/lora/LoraItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

$orange: #f0693c;
$border-color: #dee2e6;
body { font-family: GothaProMed, sans-serif;}
#main {
  background: url("../img/main_bg2.png") no-repeat;
  background-size: cover;
  padding-top: 4em;

  ._main_text {
    font-size: 2.5em;
    text-transform: uppercase;
  }
  ._tabs {
    width: 100%;
    border-top: 1px solid $border-color;

    ul {
      padding: 0;
      list-style-type: none;
      text-align: center;
      margin: 0;
      width: 100%;
    }
    li {
      display: inline-block;
      padding: 15px;
      margin-left: -5px;
      width: 25%;
    }
    a {
      text-decoration: none;
      color: #000;
      text-transform: uppercase ;
      padding-top: 17px;
    }
    a:hover {
      font-family: GothaProBol, sans-serif;
      color: $orange;
      border-top: 2px solid $orange;
    }
  }

}
#slider {
  position: relative;
  background-color: #e6e7ed;
  padding: 4em 0;

  .owl-nav {
    display: none;

    .owl-prev { background-color: #fff; color: $orange; border-radius: 25px; padding: 10px 15px}
    .owl-next { background-color: #fff; color: $orange; border-radius: 25px; padding: 10px 15px}
  }
}

#welcome-text {
  padding: 4em 0;

  ._card {
    padding: 4em;

    img {
      max-width: 100%;
      height: auto;
      vertical-align: middle;
    }
    ._status_pos { color: #818181; font-family: LoraItalic, sans-serif; }
    ._status_name { font-family: GothaProBol, sans-serif; font-size: 1.5em; text-transform: uppercase}
    ._card_text p { font-family: LoraItalic, sans-serif;}
  }
}

#about {
  ._card {
    background-color: #e6e7ed;
    padding: 4em;

    ._about_title { font-size: 1.8em; text-transform: uppercase}
    ._about_text { font-family: LoraItalic, sans-serif; text-align: center}
  }
}

#submissions {
  padding: 4em 0;

  ._sub_bg {
    background: url("../img/sub_bg.jpg") no-repeat;
    padding: 4em;
    width: 100%;
    text-align: center;

    a {
      font-family: GothaProBol, sans-serif;
      background-color: #fff;
      text-align: center;
      text-transform: uppercase;
      color: #000;
      text-decoration: none;
      padding: 1em 3em;

      i {
        color: $orange;
        vertical-align: middle;
      }
    }
  }
}
#partners {
  padding-bottom: 4em;

  ._partners_title { font-size: 1.8em; text-transform: uppercase}
  .owl-carousel img { width: initial; margin: auto}
  .owl-nav {
    display: block;
    margin-top: 0;

    .owl-prev { position: absolute; top: 30%; left: -6%; background-color: transparent; color: $orange; border: 1px solid $orange; border-radius: 25px; padding: 10px 15px}
    .owl-next { position: absolute; top: 30%; right: -6%; background-color: transparent; color: $orange; border: 1px solid $orange; border-radius: 25px; padding: 10px 15px}
  }
}
#footer {
  padding: 4em 0;
  border-top: 1px solid $border-color;
  border-bottom: 1px solid $border-color;
  margin-bottom: 4em;

  .contacts_title { font-family: GothaProBol, sans-serif; text-transform: uppercase}
  .contacts_address, .contacts_tel { font-family: LoraRegular, sans-serif;}
  .contacts_social a { display: inline-block; background-color: #dbdbdb; padding: 10px 14px; margin-right: 5px; margin-bottom: 5px; color: #fff; border-radius: 25px}
  .contacts_social a:hover { background-color: $orange}
  .contacts_tel a { text-decoration: none; color: #000}
}
